* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contanier {
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    font-size: 22px;
}

.section {
    color: white;
    display: flex;
    margin: 10px;
    gap: 90px;
    justify-content: space-evenly;
    align-items: center;


}

.list {
    list-style: none;
    display: flex;
    gap: 45px;

}

.list2 {
    margin-left: 60px;
    list-style: none;
    display: flex;
    gap: 68px;

}

.list3 {
    list-style: none;
    margin-left: 80px;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 40px;


}

.list3 button {

    width: 80px;
    height: 50px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 10PX;
    font-size: 18px;

}

.box2 button {
    width: 150px;
    height: 40px;
    margin: 30px;
    background-color: transparent;
    color: white;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px
}

.container2 {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

header ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 20px;
    color: gray;
    font-size: 20px;
}

header {
    background-color: #ffffff;
    height: 50px;
    padding: 10px;
    border: 1px solid black;
}

.container1 {
    background-color: rgb(37, 48, 64);
    display: flex;
    height: 460px;
    color: white;
    justify-content: space-evenly;
}

.box2 {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    justify-content: center;
    width: 50%;
    margin: 30px;
    font-size: 25px;
}

.nav {
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 50px;
    padding: 20px;
    font-size: 20px;
}

.nav3 a {
    color: white;
    text-decoration: none;
}


@media (min-width: 1200px) {
    .section {
        gap: 90px;
    }

    .container1 {
        flex-direction: row;
    }

    .container2 {
        justify-content: center;
    }
}


@media (max-width: 1200px) {
    .section {
        gap: 50px;
        flex-wrap: wrap;
    }

    .container1 {
        height: auto;
        padding: 20px;
    }
}


@media (max-width: 990px) {
    .section {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

    .list{
           flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    .list2{
           flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    .list3 {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .container1 {
        flex-direction: column;
        align-items: center;
    }

    .box2 {
        width: 100%;
        margin: 10px;
    }
}


@media (max-width: 775px) {
    header ul {
        flex-wrap: wrap;
        font-size: 18px;
    }

    .container2 {
        flex-direction: column;
        align-items: center;
    }

    .container2 img {
        width: 80%;
    }

    .box2 h1 {
        font-size: 28px;
        text-align: center;
    }
}


@media (max-width: 577px) {
    h1 {
        font-size: 26px;
    }

    p {
        font-size: 18px ;
    }

    .list li{
         font-size: 18px;
    }
    .list2 li {
        font-size: 18px;
    }

    .list3 button {
        width: 100px;
        height: 45px;
    }
}

@media (max-width: 477px) {
    .container1 img {
        width: 95%;
        margin: 5px;
    }

    .box2 button {
        width: 100%;
    }

    .nav {
        height: auto;
        gap: 10px;
        font-size: 16px;
        text-align: center;
    }
}



@media (max-width: 325px) {
    h1 {
        font-size: 22px;
    }

    p {
        font-size: 16px ;
    }

    .list{
        gap: 10px;
    }
    .list2{
        gap: 10px;
    }
    .list3 {
        gap: 10px;
    }

    .list3 button {
        width: 90px;
        font-size: 14px;
    }
}




